<%- include('../partials/header') %>
</head>
<h2 class="shimmer">Cat Rankings</h2>

<div class="indexContainer">

<table id="list">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% kittens.forEach(function(k) { %>
    <tr>
      <td><%= k.name %></td>
      <td><%= k.age %></td>
      <td><a href="/kittens/<%= k._id %>">DETAILS</a></td>
    </tr>
    <% }); %>
  </div>
  </tbody>
</table>

<%- include('../partials/footer') %>
