<%- include('../partials/header') %>

<h2 class="shimmer">Cat Profile</h2>

<section class="showContainer" id="show-page">
  <img src="<%= kitten.photo %>" class="cat-photo" id="image-container" />
  <div id="text-container">
    <div class="cat-display"><label>Name:</label> <%= kitten.name %></div>
    <div class="cat-display"><label>Age:</label> <%= kitten.age %></div>
    <div class="cat-display"><label>Gender:</label> <%= kitten.gender %></div>
    <div class="cat-display"><label>Breed:</label> <%= kitten.breed %></div>
    <div class="bio"><label>Bio:</label></div>
    <div class="bio"><%= kitten.bio %></div>
  </div>
</section>

<%- include('../partials/footer') %>
