<%- include('../partials/header') %>

<h2 class="shimmer">Cat Profile</h2>

<section class="showContainer" id="show-page">
  <img src="<%= kitten.photo %>" class="cat-photo" id="image-container" />
  <div id="text-container">
    <label>Name:</label>
    <div><%= kitten.name %></div>
    <label>Age:</label>
    <div><%= kitten.age %></div>
    <label>Gender:</label>
    <div><%= kitten.gender %></div>
    <label>Breed:</label>
    <div><%= kitten.breed %></div>
    <label>Bio:</label>
    <div><%= kitten.bio %></div>
  </div>
</section>

<%- include('../partials/footer') %>
