<%- include('../partials/header') %>

<h2 class="shimmer">Cat Profile</h2>
<br></br>

<section class="showRating">
 <span class="shiny">
  <span class="inner-shiny">
  <% if (kitten.ratings.length) { %>
    <thead>
     
    </thead>
    <tbody>
      <% let total = 0 %> <% kitten.ratings.forEach(function(r) { %> <% total +=
      r.rating %>
      <% }); %>
      <tr>
        <td>
          <strong> <%= (total / kitten.ratings.length).toFixed(1) %> / 10 </strong>
        </td>
      </tr>
    </tbody>
  <% } else { %>
  <h5>No Ratings Yet</h5>
  <% } %>
  </span>
  </span>
</section>
<br></br>
<section class="showContainer" id="show-page">
  <img src="<%= kitten.photo %>" class="cat-photo" id="image-container" />
  <div id="text-container">
    <div class="cat-display"><label>Name:</label> <%= kitten.name %></div>
    <div class="cat-display"><label>Age:</label> <%= kitten.age %></div>
    <div class="cat-display"><label>Gender:</label> <%= kitten.gender %></div>
    <div class="cat-display"><label>Breed:</label> <%= kitten.breed %></div>
    <div class="bio"><label>Bio:</label></div>
    <div class="bio"><%= kitten.bio %></div>
  </div>
</section>

<br /><br />
<h2>Reviews</h2>
<% if (user) { %>

<section class="reviewContainer">
  <form
    id="add-review-form"
    method="POST"
    action="/kittens/<%= kitten._id %>/reviews"
  >    <textarea name="content"></textarea>
    <input type="submit" value="Add Review" />
  </form>
</section>
<% } %>

<br /><br />
<h2>Rating</h2>
<% if (user) { %>
<section class="ratingContainer">
  <form
    id="add-ratings-form"
    method="POST"
    action="/kittens/<%= kitten._id
    %>/ratings"
  >
    <select name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10" selected>10</option>
      <input type="submit" value="Add Rating" />
    </select>
  </form>
</section>

<section class="showTable">
  <table>

  <% } %> <% if (kitten.reviews.length) { %>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
        <th>Review</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% let total = 0 %> <% kitten.reviews.forEach(function(r) { %> <% total +=
      r.rating %>
      <tr>
        <td class="review-user">
          <img
            alt="avatar"
            src="<%= r.userAvatar %>"
            referrerpolicy="no-referrer"
          />
          <%= r.userName %>
        </td>
        <td><%= r.createdAt.toLocaleDateString() %></td>
        <td><%= r.content %></td>

        <td>
          <% if (user?._id.equals(r.user)) { %>
          <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
            <button type="submit">X</button>
          </form>
          <% } %>
        </td>
      </tr>
      <% }); %>
      <tr>
        <td colspan="2"></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <% } else { %>
  <h5>No Reviews Yet</h5>
  <% } %>
</section>

<%- include('../partials/footer') %>
