<%- include('../partials/header') %>

<section id="show-page">
  <div>Name:</div>
  <div><%= kitten.name %></div>
  <div>Age:</div>
  <div><%= kitten.age %></div>
  <div>Gender:</div>
  <div><%= kitten.gender %></div>
  <div>Breed:</div>
  <div><%= kitten.breed %></div>
  <div>Bio:</div>
  <div><%= kitten.bio %></div>
</section>

<%- include('../partials/footer') %>
